<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="io.github.vvb2060.magisk.test">

    <uses-permission
        android:name="android.permission.QUERY_ALL_PACKAGES"
        tools:ignore="QueryAllPackagesPermission" />

    <queries tools:node="removeAll" />

    <application tools:node="replace">
        <uses-library android:name="android.test.runner" />
    </application>

    <instrumentation
        android:name="io.github.vvb2060.magisk.test.AppTestRunner"
        android:targetPackage="io.github.vvb2060.magisk" />

    <instrumentation
        android:name="io.github.vvb2060.magisk.test.TestRunner"
        android:targetPackage="io.github.vvb2060.magisk.test" />

</manifest>
